{% extends 'base.html' %}

{% block title %}
О нас
{% endblock %}

{% block button %}
<div class="buttons" align="right">
    {% if flag_btn %}
    <a class="btn btn-outline-primary" href="/account">Личный кабинет</a>
    <a class="btn btn-outline-primary" href="/busket">Корзина</a>
    {% if current_user.id == 5 %}
	<a class="btn btn-outline-primary" href="/admin">Admin</a>
	{% endif %}

    {% else %}
    <a class="btn btn-outline-primary" href="/signin">Регистрация</a>
     <a class="btn btn-outline-primary" href="/login">Вход</a>
    {% endif %}
</div>
{% endblock %}

{% block body %}
    <h2 align="center">Давайте познакомимся поближе</h2>
    <h3 class="h3_new" align="center">Мы рады видеть вас на нашем сайте!</h3>
    <section class="container">
        <div class="section first">
          <div class="cont_title">
            <h1>Полина Потапова</h1>
            <h4>Тимлид, генератор идей, backend-разработчик, дизайнер баннеров</h4>
          </div>
          <div class="cont_desc">
            <p>Идея создать онлайн-магазин, специализирующийся исключительно на восточной литературе, пришла благодаря моим друзьям-востоковедам, которые погрузили в красоту японской литературы и языка. 
              При разработке функционала сайта опиралась на свой многолетний опыт заказа книг в Интернете (Лабиринт, Буквоед, Ozon, Подписные издания)</p>
          </div>
        </div>
        <div class="section">
          <div class="cont_title">
            <h1>Васил<br>Василев</h1>
            <h4>Backend-разработчик</h4>
          </div>
          <div class="cont_desc">
            <p>В этом проекте писал код и участвовал в обсуждениях концепции сайта. Рад, что успели создать хороший сайт, отвечающий современным требованиям</p>
          </div>
        </div>
        <div class="section">
          <div class="cont_title">
            <h1>Арюна Кунгурова</h1>
            <h4>Дизайнер, frontend-разработчик</h4>
          </div>
          <div class="cont_desc">
            <p>Не представляю свою жизнь без сладостей и аниме. Мне в целом нравится азиатская культура, поэтому тематика нашего онлайн магазина очень мне близка. Я изучала фронтенд и сразу применяла эти знания, кроме того, разрабатывала макет в Фигме.
              Надеюсь, наш проект понравился вам!</p>
          </div>
        </div>
        <div class="section">
          <div class="cont_title">
            <h1>Юлия<br>Килина</h1>
            <h4>Frontend-разработчик</h4>
          </div>
          <div class="cont_desc">
            <p>Это был мой первый проект, поэтому очень многое приходилось изучать с нуля. Очень рада, что дизайн с макета получилось воплотить в жизнь, а сам сайт получился красивым!</p>
          </div>
        </div>
        <div class="section">
          <div class="cont_title">
            <h1>Султонбек Абдуллоев</h1>
            <h4>Дизайнер</h4>
          </div>
          <div class="cont_desc">
            <p>Я работал над макетом в Figma, детали которого были использованы при вёрстке</p>
          </div>
        </div>
        <div class="section">
          <div class="cont_title">
            <h1>Ксения Меклерис</h1>
            <h4>Проектировщик UML-диаграмм</h4>
          </div>
          <div class="cont_desc">
            <p>В проекте я занималась разработкой UML-диаграмм и оформлением технической документации</p>
          </div>
        </div>
      </section>
{% endblock %}
