{% extends 'base.html' %}

{% block title %}
Полки
{% endblock %}

{% block button %}
    {% if flag_btn %}
    <a class="btn btn-outline-primary" href="/account">Личный кабинет</a>
    <a class="btn btn-outline-primary" href="/busket">Корзина</a>
    {% if current_user.id == 5 %}
	<a class="btn btn-outline-primary" href="/admin">Admin</a>
	{% endif %}

    {% else %}
    <a class="btn btn-outline-primary" href="/signin">Регистрация</a>
     <a class="btn btn-outline-primary" href="/login">Вход</a>
    {% endif %}
{% endblock %}


{% block body %}

    <h1 align="center"> Полки </h1>
    <h3 align="center"> Выбирайте книгу по вкусу! </h3>
    <div class="Row">
    <form method="post">

    {{ form.csrf_token }}
    <div class="Column">
        <h5> Язык </h5>
    <p>
	    {{ form.russian.label() }}
	    {{ form.russian() }}
	</p>
        <p>
	    {{ form.english.label() }}
	    {{ form.english() }}
	</p>
        <p>
	    {{ form.japanese.label() }}
	    {{ form.japanese() }}
	</p>

    </div>
    <div class="Column">
        <h5> Жанр </h5>
        <p>
	    {{ form.scipop.label() }}
	    {{ form.scipop() }}
	</p>
        <p>
	    {{ form.cookbook.label() }}
	    {{ form.cookbook() }}
	</p>
        <p>
	    {{ form.stories.label() }}
	    {{ form.stories() }}
	</p>
        <p>
	    {{ form.essay.label() }}
	    {{ form.essay() }}
	</p>
        <p>
	    {{ form.narrative.label() }}
	    {{ form.narrative() }}
	</p>
        <p>
	    {{ form.novel.label() }}
	    {{ form.novel() }}
	</p>
    </div>
        <div class="Column">
            <h5> Страна </h5>
            <p>
	    {{ form.japan.label() }}
	    {{ form.japan() }}
	</p>
            <p>
	    {{ form.china.label() }}
	    {{ form.china() }}
	</p>
            <p>
	    {{ form.korea.label() }}
	    {{ form.korea() }}
	</p>
            <p>
	    {{ form.vietnam.label() }}
	    {{ form.vietnam() }}
	</p>

    </div>

        <div class="Column">
            <h5> Сортировка </h5>
            <p>
	    {{ form.sort() }}
	</p>


        </div>

        <p>
	    {{ form.submit() }}
	</p>
    </form>

    </div>
    {% for b in books %}
        <div class="alert alert-info">
            <h4>
                {{ b.title }} - {{ b.author }}
            </h4>
            <h5> {{ b.price }}₽</h5>

            <img src="{{url_for('static', filename=b.image)}}" alt="{{ b.title }}" class="Cover">
            <a href="/shelves/{{ b.id_book }}" class="btn btn-warning">Детали</a>
            {% if b.quantity == 0 %}
            <h4> Нет в наличии! </h4>
            {% else %}
                {% if flag_btn %}
                 <a href="/shelves/{{b.id_book}}/add" class="btn btn-danger">В корзину</a>
                {% else %}
                <a  href="/login" class="btn btn-danger">В корзину</a>
                {% endif %}
            {% endif %}
        </div>
    {% endfor %}

{% endblock %}